<h1>Prueba de controladores</h1>
<p>Esta es la página de prueba de los controladores</p>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, quod? Nam sapiente at soluta consequatur illum nemo
    corporis quidem neque, deleniti voluptatibus aut dicta, esse iusto incidunt facilis praesentium! Enim.</p>